# Ignore virtual environment
venv/
.Venv/
env/
ENV/
.venv/
.ENV/
yolo_training_enviro/
.yolo_training_enviro/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment configuration files
*.env
.env.*

# Ignore log files
*.log
*.out
*.err

# Ignore compiled code and binary files
*.so
*.dll
*.dylib
*.exe

# Ignore temporary files
*.tmp
*.temp
*.swp
*.swo
*~
*.bak

# Ignore VSCode settings (if you're using it)
.vscode/

# Ignore macOS files
.DS_Store

# Ignore Windows system files
Thumbs.db
desktop.ini

# Ignore archives
*.zip
*.tar.gz
*.7z
*.rar

# Video files
*.mp4
*.avi
*.mov
videos/
videos/output/*
videos/trimmed/*

# Model files
*.pt
runs/
weights/

# Video files
*.mp4
videos/
output/

# Python
__pycache__/
*.py[cod]
*$py.class
